/* header and footer styles */
.header {
background-color: black;
padding: 1px;
width: 100%;
text-align: center;
}
.footer {
background-color: black;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
right: 0;
clear: both;
height: 45px;
}
html {
overflow-x: hidden;
}

/* text stylings */
h1 {
font-size: 50px;
text-transform: initial;
color:palevioletred;
}
h2 {
font-size: 25px;
text-align: inherit;
text-transform: initial;
color:palevioletred;
font-weight: bold;
}
h3 {
width: 45%;
font-size: 20px;
text-transform: initial;
color: plum;
}
h4 {
width: 55%;
font-size: 45px;
text-align: left;
text-transform: initial;
color:palevioletred;
font-weight: bold;
}
h5 {
width: 50%;
display: block;
font-size: 15px;
text-align: left;
text-transform: initial;
color: plum;
line-height: 1.5;
}
p {
color: plum;
}
h6 {
width: 70%;
font-size: 15px;
text-transform: initial;
color: plum;
}

/* navigation bar styling */
ul {
width: 100%;
list-style: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
position: absolute; left: 0px; top: 0px;
}
li {
float:left;
}
li:last-child {
border: none;
}
li a:hover {
color:palevioletred;
background-color: purple;
}
li a {
display:block;
text-align: center;
padding: 12px;
padding-left: 100px;
padding-right: 100px;
margin: auto;
}
li.right {
float:right;
}
a {
text-decoration: none;
color: palevioletred;
}

 /* background image */
 body {
text-transform: uppercase;
font-family: changa-one, sans-serif;
background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
}

/* clickable buttons */
.learnmore {
position: relative;
background-color: black;
color: palevioletred;
text-transform: uppercase;
max-width: 200px;
width: 100%;
font-size: 16px;
padding: 10px 20px;
left:12vh; top:22vh;
}
.learnmore:hover {
background-color: purple;
}
.contact {
position: relative;
background-color: black;
color: palevioletred;
text-transform: uppercase;
max-width: 200px;
width: 100%;
font-size: 16px;
padding: 10px 20px;
position:relative; left:37vh; top:1.5vh;
}
.contact:hover {
background-color: purple;
}
* {
caret-color: transparent;
}

/* fade in effects */
.fade-in3 {
animation: fadeIn ease 3s;
-webkit-animation: fadeIn ease 3s;
}
.fade-in6 {
animation: fadeIn ease 6s;
-webkit-animation: fadeIn ease 6s;
}
.fade-in9 {
animation: fadeIn ease 9s;
-webkit-animation: fadeIn ease 9s;
}

@keyframes fadeIn {
  0% {
  opacity:0;
}
  100% {
  opacity:1;
}
}

/* projects page */
#my-div1 {
background: rgb(4, 4, 40, 0.5);
width: 105%;
height: 400px;
margin-left: -10px;
margin-top: 240px;position:relative;
}
#my-div2 {
background: rgb(5, 5, 55, 0.5);
width: 105%;
height: 400px;
margin-left: -10px;
position:relative;
margin-top: -34px;
}
#my-div3 {
background: rgb(6, 6, 70, 0.5);
width: 105%;
height: 400px;
margin-left: -10px;
position:relative;
margin-top: -33px;
}
#my-div4 {
background: rgba(7, 7, 85, 0.5);
width: 105%;
height: 400px;
margin-left: -10px;
margin-top: -34px;
}
.project-heading {
position:relative; left:205px; top:140px
}
.project-subheading {
position:relative; left:215px; top:110px; width:40%;
font-size: 15px;
text-align: left;
text-transform: initial;
line-height: 1.5;
font-weight: bold;
}
.project-imageproperties {
height: 105px;
width: 5.5%;
border: 5px solid black;
position: relative;
left: 70px;
top: -10px;
}
.clickable-div {cursor: pointer;}
#my-div1:hover {color:palevioletred;background-color: purple;opacity:1;}
#my-div2:hover {color:palevioletred;background-color: purple;opacity:1;}
#my-div3:hover {color:palevioletred;background-color: purple;opacity:1;}
#my-div4:hover {color:palevioletred;background-color: purple;opacity:1;}
#projectsbody {
min-height: 2010px;
}

/* element positioning */
.fade-in3 h2 {
position:relative; left:12vh; top:17vh;
}
.fade-in3 h4 {
position: relative;
left: 12vh;
top: 10vh;
}
.fade-in3 h5 {
position:relative; left:12vh; top:6vh;
}
.fade-in6 h5,
.fade-in9 h5 {
position: relative;left: 12vh;top: 6vh;
}
.fade-in6 h3 {
position:relative; left:12vh; top:17vh;
}
.fade-in6 h1 {
position:relative; left:12vh; top:17vh;
}
.I-style {
position:absolute; left:60%; top:13%; height: 550px;
}
.Me-style {
position:absolute; left:135vh; top:20vh; height: 550px;
}

/* embed pages */
#embedbody {
min-height: 1500px;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
}
.box {
text-align: center;
}
.box h6 {
display: inline-block;
}
.embed-heading {
margin-top: -140px;
}
.embed-subheading {
margin-top: -20px;
}
.embed-pdf {
margin-top: 40px;
width: 1200px; 
height: 1000px; 
}

/* contact page */
#contactbody {
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
}
.container {
width: 400px;
margin: 0 auto;
padding: 20px;
border: 5px solid black;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: black;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
input[type="submit"] {
margin-top: 15px;
}
.center-button {
display: flex;
justify-content: center;
}
label {
display: block;
margin-bottom: 10px; 
color: palevioletred;
line-height: 3; 
}
input[type="text"], textarea {
width: 100%;
padding: 15px;
border: 1px solid #ccc;
border-radius: 3px;
margin-top: -10px; 
}
input[type="submit"] {
width: auto;
padding: 10px 20px;
background-color: black;
color: palevioletred;
border: none;
border-radius: 3px;
cursor: pointer;
}
input[type=submit]:hover {
background-color: purple;
}
input[type="text"], textarea {caret-color: black;}

/* Mobile Styles */
@media (max-width: 600px) {
  /* Header and Footer Styles */
  .header {
    padding: 5px;
  }

  .footer {
    height: 60px;
  }

  /* Text Stylings */
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 12px;
  }

  /* Navigation Bar Styling */
  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: absolute; left: 0px; top: 0px;
    }
    li {
    float:left;
    }
    li:last-child {
    border: none;
    }
    li a:hover {
    color:palevioletred;
    background-color: purple;
    }
    li a {
    display:block;
    text-align: center;
    padding: 12px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    }
    li.right {
    float:left;
    }
    a {
    text-decoration: none;
    color: palevioletred;
    }
  }